build
components
node_modules
.DS_Store
.sass-cache
_site
_config.yaml
.idea
dist
.parcel-cache

# The GitLab pages artifacts
public

# yarn stuff
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
